@page "/MessageWall"
<PageTitle>Message Wall</PageTitle>

<h3>Message Wall</h3>
<EditForm Model="model" OnValidSubmit="ValidSubmisison">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="message" class="form-label">@nameof(model.Message)</label>
    <InputText id="message" @bind-Value="model.Message" class="form-control" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<ul>
    @foreach (string message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private MessageModel model = new();
    private List<string> messages = new();

    private void ValidSubmisison()
    {
        messages.Add(model.Message);
        model = new();
    }
}
